@import "govuk_tech_docs";

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
div, table, th, td, tr {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif !important;
}

img {
    border: 1px solid #A8A8a8;
}

.govuk-header {
    background-color: #003a69;
}

.govuk-header__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 10px solid #f47738;
}

footer {
    display: none;
}

.technical-documentation {
    max-width: 50em !important;
}

.govuk-header__product-name {
    line-height: 2.5rem !important;
    font-size: 1.2rem;
}

.govuk-header__product-name::before {
    content: "Department for Education | ";
    font-weight: 600;
    background-image:
        url("/images/crest.png") !important;
    padding: 8px 0px 10px 55px;
    background-size: 45px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -5px;
}


.govuk-header__navigation-item--active a:link,
.govuk-header__navigation-item--active a:hover,
.govuk-header__navigation-item--active a:visited {
    color: #f3f2f1;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.1em;
}


.govuk-header__navigation-item--active a:focus {
    color: #1b1c1c;
}



.DosAndDontsstyled__DosAndDontsContainerStyled {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: auto;
    margin-bottom: 30px !important;
    margin-top: 40px !important;
    border: 1px solid #b1b4b6;
    background: #fafaf9;
    padding: 40px;
}

.DosAndDontsstyled__SectionStyled {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
}




.DosAndDontsstyled__DosAndDontsColoredBoxStyled {
    flex-direction: column;
    padding: 40px;
    position: relative;
    box-sizing: border-box;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}


.DosAndDontsstyled__DosAndDontsColoredBoxStyled_do {
    background-color: #cce2d8;
    border-bottom: 5px solid #2f9415;
}

.DosAndDontsstyled__DosAndDontsColoredBoxStyled_dont {
    background-color: #f6d7d2;
    border-bottom: 5px solid #90000a;
}

.DosAndDontsstyled__PillSectionStyled {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    width: calc(45% - 12px);
    margin-bottom: 10px;
    margin-top: 20px;
}


.DosAndDontsstyled__TextSectionStyled {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    margin-bottom: 0px;
}

.DosAndDontsstyled__DosAndDontsColoredBoxStyled>img {
    display: block;
    max-width: 100%;
    max-height: 600px;
    margin: 0px auto;
    position: relative;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.DosAndDontsstyled__DosAndDontsContainerStyled {
    .govuk-tag {
        padding-bottom: 8px;
        text-transform: capitalize;
    }
}

@media (min-device-width: 320px) {
    .DosAndDontsstyled__SectionStyled {
        width: 100%;
    }
}


@media only screen and (min-width : 992px) {
    .DosAndDontsstyled__SectionStyled {
        width: calc(50% - 20px);
    }
}

.DosAndDontsstyled__DosAndDontsContainerStyled img {
    border: none;
}

.dfe-list--contents {
    list-style-type: none;
    padding-left: 0px !important;
    margin-left: 0px;
}

.dfe-list--contents li {
    list-style-type: none;
}

.dfe-list--contents li:before {
    content: "—";
    left: 0;
    width: 20px;
    overflow: hidden;
}

.dfe-warning-callout {
    margin-bottom: 40px;
    margin-top: 80px;
    padding: 24px;
    background-color: #feefe7;
    color: #0b0c0c;
    border: 10px solid #f47738;
    padding-top: 0 !important;

}

.dfe-warning-callout__label {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
    background-color: #f47738;
    color: #0b0c0c;
    display: inline-block;
    margin: 0 0 8px -34px;
    padding: 8px 32px;
    position: relative;
    top: -48px;
}

.dfe-warning-callout p:first-of-type,
.dfe-warning-callout ul:first-of-type {
    margin-top: -20px;
}

.dfe-warning-callout p+ul:first-of-type {
    margin-top: 20px;
}


.technical-documentation {
    padding-top: 30px !important;
}

.technical-documentation>h1:first-of-type {
    padding-top: 0px;
}

.govuk-back-link {

    line-height: 1.1428571429;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: underline;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 14px;
}

.govuk-back-link:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 3px;
    width: 7px;
    height: 7px;
    margin: auto 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    border: solid;
    border-width: 1px 1px 0 0;
    border-color: #505a5f;
}

.govuk-back-link:after {
    content: "";
    position: absolute;
    top: -14px;
    right: 0;
    bottom: -14px;
    left: 0;
}

.dfe-panel {
    margin-top: 30px !important;
    border: 1px solid #b1b4b6;
    background: #fafaf9;
    padding: 5px 25px;

    p {
        margin-bottom: 10px;
    }

    a {
        font-weight: 600;
        font-size: 0.9em;
    }

    h3 a {
        font-weight: 700;
        font-size: 1em;
    }

}

.icon {
    margin-top: 40px;
    text-align: center;
}

@media (min-device-width: 320px) {
    .standards-icon {
        display: none
    }
}


@media only screen and (min-width : 992px) {
    .standards-icon {
        display: block;
        margin-top: 50px;
        text-align: center;
        color: #003a69
    }
}


/* ==========================================================================
   COMPONENTS/ #ACTION-LINK
   ========================================================================== */
/**
 * 1. Display is inline-block so the top and bottom margins/paddings are
 *    respected.
 * 2. 'Random number' is used to properly have sufficient space between icon
 *    and text.
 * 3. Position is relative so the arrow icon can display absolute.
 * 4. Text decoration none used to override default <a> styling.
 * 5. Box shadow 8px used instead of the default 4px.
 * 6. Text decoration underline used to override default <a> styling.
 */
 .dfeuk-action-link {
    margin-bottom: 32px;
    clear: both;
    display: block;
  }
  @media (min-width: 40.0625em) {
    .dfeuk-action-link {
      margin-bottom: 40px;
    }
  }
  .dfeuk-action-link.dfeuk-action-link--back-to-top {
    margin-bottom: 16px;
  }
  @media (min-width: 40.0625em) {
    .dfeuk-action-link.dfeuk-action-link--back-to-top {
      margin-bottom: 24px;
    }
  }
  
  .dfeuk-action-link__link {
    font-weight: 400;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.55556;
    display: inline-block;
    /* [1] */
    font-weight: 600;
    padding-left: 38px;
    /* [2] */
    position: relative;
    /* [3] */
    text-decoration: none;
    /* [4] */
  }
  @media (min-width: 40.0625em) {
    .dfeuk-action-link__link {
      font-size: 22px;
      font-size: 1.375rem;
      line-height: 1.45455;
    }
  }
  @media print {
    .dfeuk-action-link__link {
      font-size: 18pt;
      line-height: 1.15;
    }
  }
  .dfeuk-action-link__link:hover .dfeuk-action-link__text {
    text-decoration: underline;
    /* [6] */
  }
  .dfeuk-action-link__link:focus {
    background-color: #ffdd00;
    box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
    color: #0b0c0c;
    outline: 4px solid transparent;
    text-decoration: none;
  }
  .dfeuk-action-link__link:focus:hover .dfeuk-action-link__text {
    color: #0b0c0c;
    text-decoration: none;
  }
  @media (max-width: 40.0525em) {
    .dfeuk-action-link__link {
      padding-left: 26px;
      /* [2] */
    }
  }
  @media print {
    .dfeuk-action-link__link {
      color: #0b0c0c;
    }
    .dfeuk-action-link__link:visited {
      color: #0b0c0c;
    }
  }
  .dfeuk-action-link__link .dfeuk-icon__arrow-right-circle {
    fill: #003a69;
    height: 36px;
    left: -3px;
    position: absolute;
    top: -2px;
    width: 36px;
  }
  @media print {
    .dfeuk-action-link__link .dfeuk-icon__arrow-right-circle {
      color: #0b0c0c;
      fill: #0b0c0c;
    }
    .dfeuk-action-link__link .dfeuk-icon__arrow-right-circle:active, .dfeuk-action-link__link .dfeuk-icon__arrow-right-circle:focus, .dfeuk-action-link__link .dfeuk-icon__arrow-right-circle:visited {
      color: #0b0c0c;
    }
  }
  @media (max-width: 40.0525em) {
    .dfeuk-action-link__link .dfeuk-icon__arrow-right-circle {
      height: 24px;
      left: -2px;
      margin-bottom: 0;
      top: 2px;
      width: 24px;
    }
  }
  .dfeuk-action-link__link .dfeuk-icon__arrow-right-circle--up {
    transform: rotate(-90deg);
  }
  


/* ==========================================================================
   COMPONENTS / #DO-DONT-LIST
   ========================================================================== */
/**
 * Do and Don't lists help users understand more easily what they should
 * and shouldn't do.
 *
 * 1. Uses @mixin panel-with-label from tools/_mixins.
 * 2. Uses @mixin heading-label from tools/_mixins.
 */
.dfeuk-do-dont-list {
    margin-bottom: 40px;
    margin-top: 80px;
    padding: 24px;
    background-color: #ffffff;
    color: #0b0c0c;
    border: 10px solid #003a69;
    padding-top: 0 !important;
    /* stylelint-disable-line declaration-no-important */
    /* [1] */
  }
  .dfeuk-do-dont-list > *:first-child {
    margin-top: 0;
  }
  .dfeuk-do-dont-list > *:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 40.0625em) {
    .dfeuk-do-dont-list {
      margin-bottom: 48px;
    }
  }
  @media (min-width: 40.0625em) {
    .dfeuk-do-dont-list {
      margin-top: 88px;
    }
  }
  @media (min-width: 40.0625em) {
    .dfeuk-do-dont-list {
      padding: 32px;
    }
  }
  @media print {
    .dfeuk-do-dont-list {
      border: 1px solid #0b0c0c;
      page-break-inside: avoid;
    }
  }
  .dfeuk-do-dont-list p:first-of-type, .dfeuk-do-dont-list ul:first-of-type {
    margin-top: -20px;
  }
  .dfeuk-do-dont-list p + ul:first-of-type {
    margin-top: 20px;
  }
  
  .dfeuk-do-dont-list__label {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
    background-color: #003a69;
    color: #ffffff;
    display: inline-block;
    margin: 0 0 8px -42px;
    padding: 8px 32px;
    position: relative;
    top: -48px;
    /* [2] */
  }
  @media (min-width: 40.0625em) {
    .dfeuk-do-dont-list__label {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.33333;
    }
  }
  @media print {
    .dfeuk-do-dont-list__label {
      font-size: 18pt;
      line-height: 1.15;
    }
  }
  @media (max-width: 40.0525em) {
    .dfeuk-do-dont-list__label {
      margin-left: -25px;
      margin-right: 0;
      padding: 8px 24px;
      top: -8px;
    }
  }
  @media print {
    .dfeuk-do-dont-list__label {
      background: none;
      color: #0b0c0c;
      top: 0;
    }
  }
  @media print {
    .dfeuk-do-dont-list__label {
      color: #0b0c0c;
      fill: #0b0c0c;
    }
    .dfeuk-do-dont-list__label:active, .dfeuk-do-dont-list__label:focus, .dfeuk-do-dont-list__label:visited {
      color: #0b0c0c;
    }
  }

  .dfeuk-list--tick,
.dfeuk-list--cross {
  list-style: none;
  margin-top: 0;
  padding-left: 40px;
  /* [2] */
  position: relative;
}
.dfeuk-list--tick svg,
.dfeuk-list--cross svg {
  left: -4px;
  /* [3] */
  margin-top: -5px;
  /* [3] */
  position: absolute;
}


.dfeuk-list > li {
    margin-bottom: 8px;
  }
  @media (min-width: 40.0625em) {
 .dfeuk-list > li {
      margin-bottom: 8px;
    }
  }
 .dfeuk-list > li:last-child {
    margin-bottom: 0;
  }



/* ==========================================================================
   COMPONENTS / #WARNING-CALLOUT
   ========================================================================== */
/**
 * 1. Uses @mixin panel-with-label from tools/_mixins.
 * 2. Uses @mixin heading-label from tools/_mixins.
 */
.dfeuk-warning-callout {
    margin-bottom: 40px;
    margin-top: 80px;
    padding: 24px;
    background-color: #fcd6c3;
    color: #0b0c0c;
    border: 10px solid #f47738;
    padding-top: 0 !important;
    /* stylelint-disable-line declaration-no-important */
    /* [1] */
  }
  .dfeuk-warning-callout > *:first-child {
    margin-top: 0;
  }
  .dfeuk-warning-callout > *:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 40.0625em) {
    .dfeuk-warning-callout {
      margin-bottom: 48px;
    }
  }
  @media (min-width: 40.0625em) {
    .dfeuk-warning-callout {
      margin-top: 88px;
    }
  }
  @media (min-width: 40.0625em) {
    .dfeuk-warning-callout {
      padding: 32px;
    }
  }
  @media print {
    .dfeuk-warning-callout {
      border: 1px solid #0b0c0c;
      page-break-inside: avoid;
    }
  }
  .dfeuk-warning-callout p:first-of-type, .dfeuk-warning-callout ul:first-of-type {
    margin-top: -20px;
  }
  .dfeuk-warning-callout p + ul:first-of-type {
    margin-top: 20px;
  }
  
  .dfeuk-warning-callout__label {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.4;
    background-color: #f47738;
    color: #0b0c0c;
    display: inline-block;
    margin: 0 0 8px -42px;
    padding: 8px 32px;
    position: relative;
    top: -48px;
    /* [2] */
  }
  @media (min-width: 40.0625em) {
    .dfeuk-warning-callout__label {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 1.33333;
    }
  }
  @media print {
    .dfeuk-warning-callout__label {
      font-size: 18pt;
      line-height: 1.15;
    }
  }
  @media (max-width: 40.0525em) {
    .dfeuk-warning-callout__label {
      margin-left: -25px;
      margin-right: 0;
      padding: 8px 24px;
      top: -8px;
    }
  }
  @media print {
    .dfeuk-warning-callout__label {
      background: none;
      color: #0b0c0c;
      top: 0;
    }
  }

  .dfeuk-u-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/* ==========================================================================
   #TAG
   ========================================================================== */
   .dfeuk-tag {
    font-weight: 600;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1;
    background-color: #00345f;
    border: 1px solid #00345f;
    color: #ffffff;
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    text-decoration: none;
  }
  @media (min-width: 40.0625em) {
    .dfeuk-tag {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1;
    }
  }
  @media print {
    .dfeuk-tag {
      font-size: 14pt;
      line-height: 1;
    }
  }
  
  /* Colour variants
    ========================================================================== */
  .dfeuk-tag--white {
    background-color: #ffffff;
    border-color: #0b0c0c;
    color: #0b0c0c;
  }
  
  .dfeuk-tag--grey {
    background-color: #dbe0e3;
    border-color: #354550;
    color: #354550;
  }
  
  .dfeuk-tag--green {
    background-color: #cce2d8;
    border-color: #004324;
    color: #004324;
  }
  
  .dfeuk-tag--aqua-green {
    background-color: #d4ecea;
    border-color: #14514c;
    color: #14514c;
  }
  
  .dfeuk-tag--blue {
    background-color: #ccd8e1;
    border-color: #00294a;
    color: #00294a;
  }
  
  .dfeuk-tag--purple {
    background-color: #dbd5e9;
    border-color: #351f66;
    color: #351f66;
  }
  
  .dfeuk-tag--pink {
    background-color: #f7d7e6;
    border-color: #6b1c40;
    color: #6b1c40;
  }
  
  .dfeuk-tag--red {
    background-color: #f6d7d2;
    border-color: #6a1b0e;
    color: #6a1b0e;
  }
  
  .dfeuk-tag--orange {
    background-color: #ffdc8e;
    border-color: #4d3708;
    color: #4d3708;
  }
  
  .dfeuk-tag--yellow {
    background-color: #ffee80;
    border-color: #4d4200;
    color: #4d4200;
  }
  
  /* Remove tag border
    ========================================================================== */
  .dfeuk-tag--no-border {
    border: 0;
  }
  


/* ==========================================================================
   #EXAMPLE-CALLOUT
   ========================================================================== */
   .dfeuk-example-callout {
    margin: 30px 0px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;
    border: 1px solid #aeb7bd;
    position: relative;
  }
  .dfeuk-example-callout > *:first-child {
    margin-top: 0;
  }
  .dfeuk-example-callout > *:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 40.0625em) {
    .dfeuk-example-callout {
      margin-bottom: 40px;
    }
  }
  @media (min-width: 40.0625em) {
    .dfeuk-example-callout {
      margin-top: 40px;
    }
  }
  @media (min-width: 40.0625em) {
    .dfeuk-example-callout {
      padding-bottom: 32px;
    }
  }
  @media (min-width: 40.0625em) {
    .dfeuk-example-callout {
      padding-left: 32px;
    }
  }
  @media (min-width: 40.0625em) {
    .dfeuk-example-callout {
      padding-right: 32px;
    }
  }
  @media (min-width: 40.0625em) {
    .dfeuk-example-callout {
      padding-top: 38px;
    }
  }
  
  .dfeuk-example-callout__heading {
    background: #00345f;
    border: 0;
    left: -1px;
    position: absolute;
    top: -1px;
    padding: 8px 16px;
  }

  .dfeuk-example-callout--white {
    background: #ffffff;
  }

  .dfeuk-example-callout--image + h3 {
    padding-top: 16px;
  }
  @media (min-width: 40.0625em) {
    .dfeuk-example-callout--image + h3 {
      padding-top: 24px;
    }
  }

  .govuk-table__caption{text-align: left; font-weight: 700;}


  .technical-documentation th, .technical-documentation td {
    padding: 10px 20px 10px 0;
    background-color: transparent;
    border-bottom: 1px solid #b1b4b6;
    border-width: 0 0 1px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1.1428571429;
    vertical-align: top;
    text-align: left;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}

.technical-documentation th.govuk-table__header{font-weight: 600;}