---
title: Accessibility statement - Not compliant HTML template
weight: 263
hide_in_navigation: true
---


<%= partial "ga" %>
<a href="/accessibility/accessibility-statement.html" class="govuk-back-link">Back to accessibility statement</a>

> <strong>Accessibility statement for a not compliant website.</strong>
>
> <a href="/accessibility/statement-templates/notmet-html-raw.html">View the following statement as raw HTML</a>
>
> <a href="/accessibility/statement-templates/notmet-md-raw.html">View the following statement as Markdown</a>



<%= partial "accessibility-statement-notmet-html" %>