---
title: Accessibility statement - Partially compliant HTML template
weight: 263
hide_in_navigation: true
---

<link rel="stylesheet" href="/path/to/styles/default.min.css">
<script src="/path/to/highlight.min.js"></script>
<script>hljs.highlightAll();</script>


> <strong>Accessibility statement for a partially compliant website.</strong>
>
> <a href="/accessibility/statement-templates/partial-html.html">View the following statement as formatted webpage</a>

<%= partial "ga" %>

<pre>
<code class="language-html">
<%= partial "accessibility-statement-partial-html-raw" %>
</code>
</pre>