---
title: Accessibility statement - Partially compliant HTML template
weight: 263
hide_in_navigation: true
---

> <strong>Accessibility statement for a partially compliant website.</strong>
>
> <a href="/accessibility/statement-templates/partial-html-raw.html">View the following statement as raw HTML</a>

<%= partial "ga" %>

<%= partial "accessibility-statement-partial-html" %>