---
title: Accessibility audit
weight: 260
---

# Accessibility audit


THIS PAGE NEEDS WORK

## Internal audit

Some teams will have testers and team members that are qualified to run WCAG 2.1 audits.  If this is not your cae, there are two other routes.
If your service is listed on CMDB (configuration Management Database), you can request an internal accessibility assurance review by submitting a form to the [Accessibility Support team](https://educationgovuk.sharepoint.com/sites/lvewp00043/SitePages/Accessibility-Assurance-Reports.aspx). 

Otherwise, you will need to procure an external service provider.

## External audit

An external audit will be more comprehensive and include users with accessibility needs. It will also take longer to complete as you will need to allow for the time for procurement plus agencies rarely will have immediate availability.  Allow 3 months for the process.

Contact the [Digital and Technologies Contracts team](Dandt.CONTRACTS@education.gov.uk). They might have a DOS contract that can accommodate it or they can help you to procure via the <a href="https://www.digitalmarketplace.service.gov.uk/">Digital Marketplace</a>.

[Example of proposal for accessibility audit by DAC](https://docs.google.com/presentation/d/1mirPcD9cY32yjH5oJnc8gJ1TnxcyvL8Q/edit?usp=sharing&ouid=107261629163696600713&rtpof=true&sd=true )

[Example of proposal  for accessibility audit by Nexer](https://drive.google.com/file/d/1q6w0L2hWqn7HyXKgNcBMxtKToXoz2vVM/view?usp=sharing)

[Example of accessibility audit requirements](https://docs.google.com/document/d/179PLBL80bWS0L85vTwoOuKfz7gG8bxCgFzlwghbqBK0/edit?usp=sharing)