---
title: Accessibility
weight: 200
---

<%= partial "ga" %>

# Accessibility

<%= banner_panel("You'll be assessed on this","You'll be asked to demonstrate how you meet accessibility requirements at <a href='/service-assessments/'>service assessments</a>") %>

This guidance will help [anyone delivering services](/accessibility/roles.html) in DfE understand our obligations and requirements to design and build accessible services and meet required [laws and standards](/accessibility/laws-and-standards.html)

<div class="govuk-inset-text">
Everyone, no matter their profession, has specific <a href="/accessibility/roles.html">roles and responsibilites</a> to make sure DfE services are accessible.
</div>

Web accessibility means that websites, tools, and technologies are designed and developed so that people with disabilities can use them. It includes all disabilities that affect access to websites and digital services, for example:

- auditory
- cognitive
- neurological
- physical
- speech
- visual

Web accessibility also benefits people without disabilities, for example:

- people using mobile phones, smart watches, smart TVs, and other devices with small screens, or different input modes
- older people with changing abilities due to ageing
- people with temporary disabilities, such as a broken arm or lost glasses
- people with situational limitations, such as in bright sunlight or in an environment where they cannot listen to audio
- people using a slow internet connection, or who have limited or expensive bandwidth