---
title: Accessibility
weight: 200
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl govuk-!-font-size-80">Accessibility</h1>
         <p class="govuk-body-l">Everyone, no matter their profession, has specific roles and responsibilites to make sure DfE services are accessible.</p>
         <p class="govuk-body-l govuk-!-font-weight-bold">The Standards in this manual should be used alongside the <a href="https://design.education.gov.uk/accessibility/" target="_blank">Design manual guidance</a>.</p>

      </div>
      <div class="govuk-grid-column-one-third standards-icon">
        <i class="fa-solid fa-universal-access fa-10x"></i>
      </div>
 
   <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m bordered-top">Standards and assurance</h2>
      <div class="cards">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/laws-and-standards.html">Accessibility Standards</a>
              </h3>
              <p>These Standards closely align with (WCAG) 2.1 Level AA but simplifies and focuses on the areas most likely to present challenges for DfE users.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/laws-and-standards.html">Legislation</a>
              </h3>
              <p>Accessibility requirements are enforced through different legislation and standards, find out what they are and how they apply. </p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/roles.html">Roles and responsibilites</a>
              </h3>
              <p>Accessibility should be part of every stage of the service delivery lifecycle, find out what this means for different roles in DfE.</p>
            </div>
          </li>
         
        </ul>
      </div>
        </div>
   </div>
</div>
<div class="dfe-section-grey">
   <h2 class="govuk-heading-m">Templates, tools and training</h2>
   <p class="govuk-body">Supporting tools and services to help you implement accessible services.</p>
   <div class="cards">
      <ul>
         <li class="card">
            <div class="text">
               <h3><a href="/accessibility/accessibility-statement.html">Accessibility statement templates</a></h3>
               <p>Templates for legally compliant accessibility stataments to use on your websites and services.</p>
            </div>
         </li>
         <li class="card">
            <div class="text">
               <h3><a href="/accessibility/training.html">Training</a></h3>
               <p>Training resources for learning about accessibility across professions.</p>
            </div>
         </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/accessibility-audit.html">Audits and testing</a>
              </h3>
              <p>How to assure your service is compliant with accessibility regulations through testing and independent audits.</p>
            </div>
          </li>
        
      </ul>
   </div>
</div>
