---
title: Accessibility
weight: 200
description: Everyone, no matter their profession, has specific roles and responsibilites to make sure DfE services are accessible.
---

<%= partial "ga" %>

<%= hero(current_page.data.title,current_page.data.description +  '<p class="govuk-body-l govuk-!-font-weight-bold">The Standards in this manual should be used alongside the <a href="https://design.education.gov.uk/accessibility/" target="_blank">Design manual guidance</a>.</p>')%>


<div class="dfe-hero govuk-!-padding-bottom-2">
    <h2 class="govuk-heading-m bordered-top">Standards and assurance</h2>
      <div class="cards">
        <ul>
         <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/overview.html">Overview</a>
              </h3>
              <p>A brief overview of what accessibility means and the 4 principles of accessibility.</p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/laws-and-standards.html">Legislation</a>
              </h3>
              <p>Accessibility requirements are enforced through different legislation and standards, find out what they are and how they apply. </p>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/roles.html">Roles and responsibilites</a>
              </h3>
              <p>Accessibility should be part of every stage of the service delivery lifecycle, find out what this means for different roles in DfE.</p>
            </div>
          </li>
        </ul>
      </div>
</div>

<div class="dfe-section-grey">
   <h2 class="govuk-heading-m">Templates, tools and training</h2>
   <p class="govuk-body">Supporting tools and services to help you implement accessible services.</p>
   <div class="cards">
      <ul>
         <li class="card">
            <div class="text">
               <h3><a href="/accessibility/accessibility-statement.html">Accessibility statement templates</a></h3>
               <p>Templates for legally compliant accessibility stataments to use on your websites and services.</p>
            </div>
         </li>
         <li class="card">
            <div class="text">
               <h3><a href="/accessibility/training.html">Training</a></h3>
               <p>Training resources for learning about accessibility across professions.</p>
            </div>
         </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/accessibility/accessibility-audit.html">Audits and testing</a>
              </h3>
              <p>How to assure your service is compliant with accessibility regulations through testing and independent audits.</p>
            </div>
          </li>
        
      </ul>
   </div>
</div>
