---
title: Laws and standards
weight: 205
---

<%= partial "ga" %>

<a href="/accessibility/" class="govuk-back-link">Back to accessibility</a>

# Laws and standards

<%= warning_text("You'll be breaking the law if the website or service you provide is not accessible.")%>

The following laws and standards apply regardless of who the users of the service are, this includes:

- members of the public
- teachers and pupils
- DfE or other agency staff

Accessibility requirements are enforced through different legislation and standards, specifically (the following links will open in a new tab):

- <a href="https://www.gov.uk/guidance/equality-act-2010-guidance"  target="_blank" rel="noopner noreferrer">Equality Act 2010</a> 
- <a href="https://www.gov.uk/government/publications/public-sector-equality-duty" target="_blank" rel="noopner noreferrer">Public sector equality duty</a>
- <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" target="_blank" rel="noopner noreferrer">Public sector bodies accessibility regulations 2018</a>
- <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/02.01.02_60/en_301549v020102p.pdf" target="_blank" rel="noopner noreferrer">EN 301 549 Accessibility requirements for ICT products and services (PDF)</a>
- <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements"  target="_blank" rel="noopner noreferrer">GOV.UK accessibility requirements</a>

<div class="govuk-inset-text">
You'll be required to demonstrate how you are complying with the law and meeting the Service Standard as part of your <a href='/service-assessments/'>service assessments</a>.
</div>

## Assuring accessibility through the Service Standard

Your service must:

- meet <a href="https://www.w3.org/TR/WCAG21/"  target="_blank" rel="noopner noreferrer">level AA of the Web Content Accessibility Guidelines (WCAG 2.1) (opens in new tab)</a> as a minimum
- work on the most <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies"  target="_blank" rel="noopner noreferrer">commonly used assistive technologies (opens in new tab)</a> , including screen magnifiers, screen readers and speech recognition tools
- include disabled people in user research
- have an [accessibility statement](/accessibility/accessibility-statement.html) that explains how accessible the service is, you need to publish this when the service moves into public beta
- have an [accessibility audit](/accessibility/accessibility-audit.html) done before moving into public beta

Make sure you meet these by following the Service Standard, specifically:



<ol class="govuk-list dfe-standards-list">
          <li class="app-service-standard-point" id="criterion-1">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">1.</span>
              Understand users and their needs
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/1-understand-user-needs.html">How to apply point 1 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-2">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">2.</span>
              Solve a whole problem for users
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/2-solve-a-whole-problem.html">How to apply point 2 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-3">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">3.</span>
              Provide a joined up experience across all channels
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/3-join-up-across-channels.html">How to apply point 3 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-4">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">4.</span>
              Make the service simple to use
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/4-make-the-service-simple-to-use.html">How to apply point 4 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-5">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">5.</span>
              Make sure everyone can use the service
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/5-make-sure-everyone-can-use-the-service.html">How to apply point 5 in DfE</a></p>
            </div>
          </li>
         
          </li>
          <li class="app-service-standard-point" id="criterion-8">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">8.</span>
              Iterate and improve frequently
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/8-iterate-and-improve-frequently.html">How to apply point 8 in DfE</a></p>
            </div>
          </li>
          
          <li class="app-service-standard-point" id="criterion-11">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">11.</span>
              Choose the right tools and technology
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/11-choose-the-right-tools-and-technology.html">How to apply point 11 in DfE</a></p>
            </div>
          </li>
          
          <li class="app-service-standard-point" id="criterion-13">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">13.</span>
              Use and contribute to open standards, common components and patterns
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/13-use-common-standards-components-patterns.html">How to apply point 13 in DfE</a></p>
            </div>
          </li>
  
      </ol>


