---
title: Laws and standards
weight: 205
---

# Laws and standards

The following laws and standards apply regardless of who the users of the service are, this includes:

- members of the public
- teachers and pupils
- DfE or other agency staff


<%= warning_text('You will be breaking the law if you provide a service that is not accessible.') %>

Accessibility requirements are enforced through different legislation and standards, specifically:

<%= do_dont_list(['list item', 'list item', 'list\'s'], 'Do this', 'do') %>
<%= do_dont_list(['list item', 'list item', 'list\'s'], 'Don\'t do this', 'dont') %>


- <a href="https://www.gov.uk/guidance/equality-act-2010-guidance"  target="_blank" rel="noopner noreferrer">Equality Act 2010 (opens in new tab)</a> 
- <a href="https://www.gov.uk/government/publications/public-sector-equality-duty" target="_blank" rel="noopner noreferrer">Public Sector Equality Duty (opens in new tab)</a>
- [Public Sector Bodies Accessibility Regulations 2018](/accessibility/the-public-sector-bodies-accessibility-regulations-2018.html)
- [EN 301 549 Accessibility Requirementsfor IT products and services]()
- <a href="https://www.gov.uk/service-manual/helping-people-to-use-your-service/making-your-service-accessible-an-introduction#meeting-government-accessibility-requirements"  target="_blank" rel="noopner noreferrer">GOV.UK accessibility requirements  (opens in new tab)</a>

<div class="govuk-inset-text">
You'll be required to demonstrate how you are complying with the law and meeting the service standard as part of your <a href="">service assessments</a>.
</div>

## Assuring accessibility through the Service Standard

Your service must:

- meet <a href="https://www.w3.org/TR/WCAG21/"  target="_blank" rel="noopner noreferrer">level AA of the Web Content Accessibility Guidelines (WCAG 2.1) (opens in new tab)</a> as a minimum
- work on the most [commonly used assistive technologies]() - including screen magnifiers, screen readers and speech recognition tools
- include disabled people in user research
- have an [accessibility statement]() that explains how accessible the service is - you need to publish this when the service moves into public beta
- have an [accessibility audit]() done before moving into public beta

Ensure you meet these by following the Service Standard, specifically:

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
    <h3><a href="/service-standard/2-solve-a-whole-problem-for-users.html">2. Solve a whole problem for users</a></h3>
 <p>Ensuring accessibility is considered throughout the service delivery.</p>
  </div>
</div>
</div>


<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
    <h3><a href="/service-standard/">3. Provide a joined up experience across all channels</a></h3>
 <p>Accessibility applies to all aspects of the service, not just the digital channel. Consider a deaf user - they would need access to an alternative help channel to a phone or they’d need to book an interpreter for a training course.</p>
  </div>
</div>
</div>


<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
    <h3><a href="/service-standard/">4. Make the service simple to use</a></h3>
 <p>The service should be easy to use for all users, not just those without access needs.</p>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
    <h3><a href="/service-standard/">8. Iterate and improve frequently</a></h3>
 <p>This includes continuing to act on feedback regarding accessibility. As well as ensuring  accessibility considerations are included in all changes.</p>
  </div>
</div>
</div>


<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
    <h3><a href="/service-standard/">11. Choose the right tools and technology</a></h3>
 <p>Choose technologies and software that are accessible, or that can be made accessible. This is especially important if you’re procuring commercial, off the shelf software.</p>
  </div>
</div>
</div>


<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
    <h3><a href="/service-standard/">13. Use and contribute to open standards, common components and patterns</a></h3>
 <p>This includes accessible patterns.</p>
  </div>
</div>
</div>