---
title: Laws and standards
weight: 205
last_reviewed_on: 2022-09-08
review_in: 6 months
hide_in_navigation: true
---

<%= partial "ga" %>

<a href="/accessibility/" class="govuk-back-link">Back to accessibility</a>

# Laws and standards

<a href="">We've updated and moved this page into the User-Centred Design guidance</a>