---
title: Overview
description: Tools, resources and methods to improve accessibility and support testing how accessible services are
weight: 201
---

<%= partial "ga" %>

<a href="/accessibility" class="govuk-back-link">Back to accessibility</a>

# Overview

For something to be accessible someone needs to be able to complete the task they are trying to achieve without encountering a barrier or issue.

<iframe width="560" height="315" src="https://www.youtube.com/embed/hs8sykCaf3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

## The 4 principles

- the information that the user needs must be perceivable to them
- the webpage need to be operable
- the information that the user needs must be understandable to them
- the webpage needs to be robust

These are implemented through the Web Content Accessibility Guidelines (WCAG).

As a public sector body, we are required to ensure our services meet <a href="https://www.w3.org/TR/WCAG21/" target="_blank">WCAG 2.1 (opens in new tab)</a> AA. 



> ## WCAG 2.2 (Draft)
>
> There is a <a href="https://www.tpgi.com/new-success-criteria-in-wcag22/)" target="_blank">draft version of WCAG 2.2 (opens in new tab)</a> which is due to be published shortly. This has new guidelines and some may impact services being developed now.

