---
title: Overview
description: Tools, resources and methods to improve accessibility and support testing how accessible services are
weight: 201
---

<%= partial "ga" %>

<a href="/accessibility" class="govuk-back-link">Back to accessibility</a>

# Overview

For something to be accessible someone needs to be able to complete the task they are trying to achieve without encountering a barrier or issue.

- the information that the user needs must be perceivable to them
- the webpage need to be operable
- the information that the user needs must be understandable to them
- the webpage needs to be robust

Accessibility means making services, website and apps usable by as many people as possible, regardless of what their specific needs are.

<iframe width="560" height="315" src="https://www.youtube.com/embed/hs8sykCaf3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


