---
title: Resources and tools
weight: 250
---

# Resources and tools


Tools for testing for accessibility issues




<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Tools for testing</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Tool</th>
      <th scope="col" class="govuk-table__header">What it lets you do</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://accessibilityinsights.io/" target="_blank" rel="noopener noreferrer">Accessibility Insights for web</a></th>
      <td class="govuk-table__cell">Browser extension for Edge and Chrome to perform quick checks and also carry out detailed, guided audits of websites.</td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://accessibilityinsights.io/" target="_blank" rel="noopener noreferrer">WAVE</a></th>
      <td class="govuk-table__cell"></td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://accessibilityinsights.io/" target="_blank" rel="noopener noreferrer">Pa11y</a></th>
      <td class="govuk-table__cell"></td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://accessibilityinsights.io/" target="_blank" rel="noopener noreferrer">Accessibility Insights for web</a></th>
      <td class="govuk-table__cell">Browser extension for Edge and Chrome to perform quick checks and also carry out detailed, guided audits of websites.</td>
    </tr>
     <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://accessibilityinsights.io/" target="_blank" rel="noopener noreferrer">Accessibility Insights for web</a></th>
      <td class="govuk-table__cell">Browser extension for Edge and Chrome to perform quick checks and also carry out detailed, guided audits of websites.</td>
    </tr>
  </tbody>
</table>



<p>
   <a href="http://www.abilitynet.org">Abilitynet</a>
</p>
<p>
   <a href="https://www.deque.com/">Deque</a>
</p>
<p>
   <a href="http://www.webaim.org">Web Accessibility In Mind (WebAIM)</a>
</p>
<p>
   <a href="https://www.w3.org/WAI/">W3C Web accessibility Initiative (WAI)</a>
</p>

## Webinars

<p>
   <a href="https://abilitynet.org.uk/free-resources/webinars">Abilitynet free resources</a>
</p>
<p>
   <a href="https://docs.google.com/document/d/1bSZgYjRr_d6v6JO0hQWDzFF7TGyCzHvQ/edit">Assistive technology/software list.docx - Google Docs</a> (Alice’s doc)
</p>
<p>
   <a href="https://www.deque.com/news-resources/accessibility-webinars/">Deque Systems Web Accessibility Webinars</a>
</p>
<h2 id="accessibility-checklists">Accessibility checklists</h2>
<p>
   <a href="https://www.a11yproject.com/checklist/">The A11Y Project - checklist</a>
</p>
<p>
   <a href="https://webaim.org/standards/wcag/checklist">WebAIM's checklist</a>
</p>
<p>
   <a href="https://dequeuniversity.com/checklists/web/">Deque detailed checklist</a>
</p>
<p>
   <a href="https://drive.google.com/drive/folders/1ZImcE2jF4qwvvVC-GhiviRVHKL_zlN5n">Deque basic checklist</a>
</p>

## Guidance

<h2 id="stakeholder-buy-in-and-tackling-pushback">Stakeholder buy in and tackling pushback</h2>
<p>
   <a href="https://medium.com/@workdaydesign/inclusive-design-advocacy-a-guide-to-navigating-tough-conversations-with-your-teams-9c1789531bfe">Inclusive Design Advocacy: A Guide to Navigating Tough Conversations</a>
</p>
<h2 id="the-business-case-for-accessibility"><a href="https://www.deque.com/blog/the-business-case-for-accessibility/">The business case for accessibility</a></h2>
<h2 id="testing-for-accessibility">Testing for accessibility</h2>
<p>
   <a href="https://webaim.org/resources/evalquickref/">How to test for accessibility</a>
</p>
<p>
   <a href="https://webaim.org/articles/voiceover/">How to use Voiceover to check accessibility</a>
</p>
<p>
   <a href="https://webaim.org/resources/shortcuts/jaws">JAWS Keyboard Shortcuts</a>
</p>
<p>
   <a href="https://webaim.org/resources/shortcuts/nvda">NVDA Keyboard Shortcuts</a>
</p>
<h2 id="wcag">WCAG</h2>
<p>
   <a href="https://www.w3.org/community/wai-engage/wiki/Accessibility_Responsibility_Breakdown">Who is responsible for each of the WCAG success criteria</a>
</p>
<h2 id="technical">Technical</h2>
<p>
   <a href="https://dev.to/alenanik/accessibility-a-gentle-introduction-1398">Accessibility: a gentle introduction</a>
</p>
<p>
   <a href="https://dfe-digital.github.io/architecture/principles/accessibility-principles/#accessibility-principles">DfE Architecture principles</a>
</p>
<p>
   <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility">Mozilla Developer Resources</a>
</p>
<p>
   <a href="https://www.powermapper.com/tests/screen-readers/elements/">Screenreader behaviours</a>
</p>
<p>
   <a href="https://de.ryerson.ca/games/accessibility/_/accessibility_guidelines.pdf?">What you can do to remove barriers on the Web (ryerson.ca)</a>
</p>
<h2 id="design">Design</h2>
<p>
   <a href="https://www.gov.uk/guidance/style-guide">GDS content style guide</a>
</p>
<p>
   <a href="https://webaim.org/resources/designers/">https://webaim.org/resources/designers/</a>
</p>
<p>
   <a href="https://drive.google.com/drive/my-drive">Deque accessibility heuristics</a>
</p>
<h2 id="research">Research</h2>
<p>
   <a href="https://t.co/JNiAll7IZE">Inclusive research guidance</a>
</p>


## Posters

<p>
   <a href="https://ukhomeoffice.github.io/accessibility-posters/posters/accessibility-posters.pdf">Home Office accessibility posters</a>
</p>
<p>
   SCULPT guidance
</p>
<p>
   <a href="http://www.worcestershire.gov.uk/WCCSculpt">http://www.worcestershire.gov.uk/WCCSculpt</a>
</p>

Hemingway content app

http://www.hemingwayapp.com/

GDS accessibility personas

https://alphagov.github.io/accessibility-personas/
