---
title: Roles and responsibilities
weight: 210
---

# Roles and responsibilities

Accessibility is not something that should happen at the end of the service delivery lifecycle. It must form part of every stage of the process and be the responsibility of everyone involved in the delivery of DfE services.

There are different responsibilites for accessibility, depending of the role involved in the delivery of a service.

## Senior Responsible Officer

The SRO carries overall accountability for the service, including accessibility and approves whether a service goes live or not so needs to either:

- seek assurance that the service is accessible and so is happy to proceed or
- signs off on the risk that the service is not accessible and accepts responsibility for any legal challenges

## Service owner

A service owner is accountable for the quality of their service. This includes accessibility. They adopt a portfolio view, managing end-to-end services, which include multiple products and channels. Their role includes:

- making sure the necessary processes are followed
- governance
- own the budget and allocate funding to areas of the service 
- ultimately be responsible for the successful operation and continuous improvement of the service

## Delivery manager

A delivery manager is accountable for the delivery of complex products and services that are being delivered by multiple teams or have high technical or political risk

- remove blockers and manage risks, commercials, budgets and people in relation to accessibility
- balance objectives and can redeploy people and resources as priorities change, including people with accessibility skills and experience
- be responsible for understanding, managing and communicating to complex stakeholder groups, balancing priorities
- be the initial escalation point for the programme and must have an awareness of the bigger picture

## Product manager

## User researcher

## Design

Accessibility guidelines which apply to people working in the design of user interfaces and user interactions with a service.

<%= signpost_link("https://design-in-dfe.education.gov.uk/", "Accessibility standards breakdown in the Design in DfE service", true)%>



## Developers and testers

## Architects

Architects are responsible for ensuring the components of the technical design for a service are able to meet accessibility standards. 

That could be through technical designs they create or ensuring appropriate non-functional requirements are present when procuring a managed service. 

They also have a role in assuring a service is meeting accessibility standards, through internal technical assurance, for example, peer reviews, for a service assessment or managed service delivery reviews. 

## Performance analyst


<div class="cards">
<ul>
<li class="card">
    <div class="img"><img src="images/b&amp;w1.jpeg" alt=""></div>
    <div class="text">
        <h2><a href="#card-link">A card</a></h2>
        <p>Commodo ut laborum fugiat aliqua eiusmod voluptate pariatur.</p>
        <small>By <a href="#author-link">Heydon Pickering</a></small>
    </div>
</li>
<li class="card">
    <div class="img"><img src="images/b&amp;w2.jpeg" alt=""></div>
    <div class="text">
        <h2><a href="#card-link">Another card instance</a></h2>
        <p>Cupidatat tempor sint mollit in tempor ut fugiat excepteur laborum labore.</p>
        <small>By <a href="#author-link">Heydon Pickering</a></small>
    </div>
</li>
<li class="card">
    <div class="img"><img src="images/b&amp;w3.jpeg" alt=""></div>
    <div class="text">
        <h2><a href="#card-link">More card</a></h2>
        <p>Eu dolore labore ad occaecat minim in minim ad ea commodo excepteur ullamco.</p>
        <small>By <a href="#author-link">Heydon Pickering</a></small>
    </div>
</li>
<li class="card">
    <div class="img"><img src="images/b&amp;w4.jpeg" alt=""></div>
    <div class="text">
        <h2><a href="#card-link">This is a card</a></h2>
        <p>Amet esse sunt ex officia ea ipsum veniam ad elit duis.</p>
        <small>By <a href="#author-link">Heydon Pickering</a></small>
    </div>
</li>
<li class="card">
    <div class="img"><img src="images/b&amp;w5.jpg" alt=""></div>
    <div class="text">
        <h2><a href="#card-link">This card here</a></h2>
        <p>Laboris adipisicing enim enim duis id magna in eu.</p>
        <small>By <a href="#author-link">Heydon Pickering</a></small>
    </div>
</li>
<li class="card">
    <div class="img"><img src="images/b&amp;w6.png" alt=""></div>
    <div class="text">
        <h2><a href="#card-link">The card to beat all cards</a></h2>
        <p>Non officia quis sint commodo reprehenderit consectetur ipsum ex eu.</p>
        <small>By <a href="#author-link">Heydon Pickering</a></small>
    </div>
</li>
<li class="card">
    <div class="img"><img src="images/b&amp;w7.jpeg" alt=""></div>
    <div class="text">
        <h2><a href="#card-link">Your Mam's fave card</a></h2>
        <p>Dolore nisi deserunt quis occaecat sunt eiusmod exercitation nostrud ad dolore cupidatat exercitation minim.</p>
        <small>By <a href="#author-link">Heydon Pickering</a></small>
    </div>
</li>
<li class="card">
    <div class="img"><img src="images/b&amp;w8.jpeg" alt=""></div>
    <div class="text">
        <h2><a href="#card-link">Just another card</a></h2>
        <p>Sunt deserunt ea sint enim laborum ut qui cupidatat esse sit labore ut.</p>
        <small>By <a href="#author-link">Heydon Pickering</a></small>
    </div>
</li>
</ul>
</div>

<script>
const cards = document.querySelectorAll('.card');
Array.prototype.forEach.call(cards, card => {
    let down, up, link = card.querySelector('h2 a');
    card.style.cursor = 'pointer';
    card.onmousedown = () => down = +new Date();
    card.onmouseup = () => {
        up = +new Date();
        if ((up - down) < 200) {
            link.click();
        }
    }
});
</script>