---
title: The Public Sector Bodies Accessibility Regulations 2018
weight: 230
---

# The Public Sector Bodies Accessibility Regulations 2018



## What counts as a website?

The monitoring and reporting body for the regulations in the UK is <a href="https://www.gov.uk/government/organisations/central-digital-and-data-office"  target="_blank" rel="noopner noreferrer">CDDO (Central Digital and Data Office)</a>. When doing checks, CDDO will consider anything using web technologies as a website.

It doesn’t matter if it’s for internal use only, a closed group of users or the public. If runs in a browser and it’s using web technologies such as http protocols, then it is considered a website under the Public Sector Bodies Accessibility Regulations 2018.