---
title: Tools and testing
description: Tools, resources and methods to improve accessibility and support testing how accessible services are
weight: 265
---

<%= partial "ga" %>

<a href="/accessibility" class="govuk-back-link">Back to accessibility</a>

# Tools and testing

These tools and resources will help you uncover problems in services and websites. 

## Colour tools

<ul class="govuk-list  govuk-list--spaced">
  <li><a target="_blank" href="https://webaim.org/resources/contrastchecker/">WebAIM color contrast checker</a> compares two hex colors and tells you whether they meet WCAG AA and AAA contrast thresholds.</li>
  <li><a target="_blank" href="https://snook.ca/technical/colour_contrast/colour.html">Snook’s color contrast analyzer</a> lets you adjust RGB and HSV values and reports contrast compliance interactively.</li>
  <li><a target="_blank" href="http://colorsafe.co/">Color Safe</a> is a guide for choosing colors that meet WCAG contrast thresholds.</li>
 <li><a target="_blank" href="https://usecontrast.com/">Contrast</a> a toolbar app for Mac users to check contrast of anything on screen.</li>
  <li><a target="_blank" href="https://www.tpgi.com/color-contrast-checker/">Color Contrast Analyzer</a> is a desktop application for contrast checking that also simulates different forms of color impairment.</li>
  <li><a target="_blank" href="https://www.toptal.com/designers/colorfilter/">Toptal Colorblind Web Page Filter</a> is webpage which simulates what websites look like to people with different types of color blindness.</li>
  <li><a target="_blank" href="https://colororacle.org/">Color Oracle</a> is a desktop application for simulating color impairment on your entire screen.</li>
  <li><a target="_blank" href="https://github.com/Altreus/colourblind">Colorblind</a> is another simulation tool similar to Daltonize, but with more options (protanopia, protanomaly, deuteranopia, deuteranomaly, tritanopia, tritanomaly, achromatopsia, and achromatomaly) in a single bookmarklet.</li>
  <li><a target="_blank" href="https://github.com/btholt/postcss-colorblind">postcss-colorblind</a> is a CSS build tool that modifies colors in your CSS to simulate <a href="https://github.com/skratchdot/color-blind#color-blindness-table">four common impairment groups</a>.</li>
</ul>

## Auditing tools

Tools that you can use directly in your browser.

<ul class="govuk-list  govuk-list--spaced">
  <li><a target="_blank"  href="https://accessibilityinsights.io/">Accessibility Insights</a> - Browser plugin for Chrome and Edge, Android and Windows applications for automated and guided manual testing.</li>
<li><a target="_blank" href="https://wave.webaim.org/">WAVE</a> is an accessibility auditor and browser extension with document inspection features.</li>
</ul>