---
title: Training and resources
weight: 255
---

# Training and resources

## Training

There are lots of free online training services around accessibility.

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Course or material</th>
      <th scope="col" class="govuk-table__header">Provider</th>
      <th scope="col" class="govuk-table__header">Method</th>
      <th scope="col" class="govuk-table__header">Cost</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://www.coursera.org/learn/accessibility" target="_blank" rel="noopener noreferrer">An introduction to accessibility and inclusive design</a></th>
      <td class="govuk-table__cell">Coursera</td> 
      <td class="govuk-table__cell">Online</td>
      <td class="govuk-table__cell">Free</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="hhttps://www.edx.org/course/web-accessibility-introduction" target="_blank" rel="noopener noreferrer">Introduction to Web Accessibility</a></th>
      <td class="govuk-table__cell">EDX</td> 
      <td class="govuk-table__cell">Online</td>
      <td class="govuk-table__cell">Free</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://pressbooks.library.ryerson.ca/pwaa/" target="_blank" rel="noopener noreferrer">Professional Web Accessibility Auditing Made Easy</a></th>
      <td class="govuk-table__cell">Ryerson University - Canada</td> 
      <td class="govuk-table__cell">Online material</td>
      <td class="govuk-table__cell">Free</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://www.a11y-collective.com/product/masterclass-web-accessbility-the-business-case/" target="_blank" rel="noopener noreferrer">Web Accessibility; the business case</a></th>
      <td class="govuk-table__cell">A11y collective</td> 
      <td class="govuk-table__cell">Online</td>
      <td class="govuk-table__cell">Free</td>
    </tr>
      <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="https://abilitynet.org.uk/training" target="_blank" rel="noopener noreferrer">AbilityNet - Various free and paid for courses for designers, developers, project managers, HR and Leads</a></th>
      <td class="govuk-table__cell">AbilityNet</td> 
      <td class="govuk-table__cell">Online</td>
      <td class="govuk-table__cell">Free and Paid for</td>
    </tr>
  </tbody>
</table>

## Communities and blogs

There are accessibility communities all over the public sector as well as in DfE.

- [DfE Accessibility](https://ukgovernmentdfe.slack.com/archives/CADP1R39Q) Community on Slack
- [Cross-GOV Accessibility](https://ukgovernmentdigital.slack.com/archives/C28AJTE07) Community on Slack
- [Accessibility in government blog](https://accessibility.blog.gov.uk/)

## Empathy labs

Empathy labs enable you to test your services using assisitvive technology or equipment which simulates disabilities or impairments.

Labs should not be used as the only means to test your service meets accessibility requirements. 

### Sheffield empathy lab

Located on the 4th floor of St. James's house

The Lab contains the following equipment:

- a Windows 10 laptop with JAWS and NVDA screen readers, Dragon NaturallySpeaking (voice recognition and activation), ZoomText (screen magnification), Fusion (a hybrid of JAWS and Zoomtext), and Read and Write software.
- an iPhone (for using the VoiceOver screen reader, Seeing AI and other accessibility settings)
- a set of glasses that simulate different visual impairments
- a high strength magnifying glass
- sound defender headphones to simulate loss of hearing

If you want to make use of the lab, [email the accessibility support team](accessibility.support@education.gov.uk).

### GDS empathy Lab

The GDS/CDDO empathy lab has closed and is no longer available for teams to use.
