---
title: Booking a service assessment
weight: 310
hide_in_navigation: true
---

<%= partial "ga" %>

# Booking a service assessment


<div class="timeline">
<ol>
<li>
<h2 class="gcweb-heading-m">Check if and when you need a service assessment</h2>
<p>

</p>
</li>

<li>
<h2 class="gcweb-heading-m">Book a service assessment</h2>
<p>
You should book your service assessment around 6 weeks before you expect to have it. This is so the assessment panel can be put together.
</p>
<p>
<a href="/service-assessment/book/start" target="_blank"  class="govuk-button" data-module="govuk-button">Request service assessment online</a></p>
</li>
<li>
<h2 class="gcweb-heading-m">Before the assessment</h2>
<p>
Think about what story you want to tell at the assessment.
</p>
<p>
A service assessment is a safe space to talk about what you've learnt. You should be demonstrating how you've ensuring you're building the right thing for users.
</p>
<p>
Once the assessment panel has been put together, a few meetings will happen before the assessment itself.
</p>
    <h3>Lead assessor call</h3>
    <p>Meet the lead assessor, discuss the high level scope of the service.</p>
    <p>With the assessor, you'll agree the agenda and how questions will be handled.</p>
    <p>This is also an opportunity to express any concerns you may want to be adressed with the assessment.</p>
        <h3>Tech assessor call</h3>
    <p>Discuss the technical aspects of the service with the technical assessor and developers.</p>
    <p>Discuss the technical aspects of the service.</p>
</li>
<li>
<h2 class="gcweb-heading-m">Service assessment</h2>
<p>...</p>
</li>
<li>
<h2 class="gcweb-heading-m">After your assessment</h2>
<p>...</p>
</li>
</ol>
</div>