---
title: Service assessments
weight: 300
---

<%= partial "ga" %>
<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<div class="dfe-hero">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl govuk-!-font-size-80">Service assessments</h1>
         <p class="govuk-body-l">Guidance for when it's appropriate to put your service through an assessment and how to talk about and show your work.</p>
      </div>
      <div class="govuk-grid-column-one-third standards-icon">
        <i class="fa-solid fa-person-chalkboard fa-10x"></i>
      </div>
     <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m bordered-top">Guidance</h2>
      <div class="cards">
        <ul>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-assessments/when-to-have-an-assessment.html">When to be assessed</a>
              </h3>
              <p>Find out when it's appropriate to have a service assessment and how to prepare. </p>
            </div>
          </li>
        </ul>
      </div>
        </div>
   </div>
</div>
