---
title: Service assessments
weight: 300
description: Guidance for when it's appropriate to put your service through an assessment and how to talk about and show your work.
last_reviewed_on: 2022-09-08
review_in: 6 months
---

<%= partial "ga" %>

<%= hero(current_page.data.title,current_page.data.description)%>

<div class="dfe-hero govuk-!-padding-bottom-2">
  <h2 class="govuk-heading-m bordered-top">Guidance</h2>
    <div class="cards">
      <ul>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/service-assessments/when-to-have-an-assessment.html">When to be assessed</a>
            </h3>
            <p>Find out when it's appropriate to have a service assessment and how to prepare. </p>
          </div>
        </li>
      </ul>
    </div>
</div>
