---
title: Service assessments
weight: 300
---

<%= partial "ga" %>

# Service assessments

A service assessment is a peer review of a transactional service to check it meets the [14 points of the Service Standard](/service-standard/). 

A transactional service is any service which allows users to:

- create or update information stored by government
- exchange money, goods and services
- make a request

Examples include: converting to an academy, buying equipment for schools or recruiting an apprentice.

<div class="govuk-inset-text">
If the service is non-transactional, the service will not need to be assessed. However, it's good practice to follow the guidance we’ve published to meet the 14 points of the Service Standard in DfE.
</div>

Assessments are done by:

- <a href="" target="_blank" rel="noopner noreferrer">Central Digital and Data Office (CDDO)(opens in new tab)</a> for public facing services with over 100,000 transactions a year
- DfE Assessment team for services under 100,000 transactions a year


## Why you need a service assessment

Assessing a service against the Service Standard makes sure that teams build services that work for users, meet required accessibility regulations and <a href="https://technical-guidance.education.gov.uk/" target="_blank" rel="noopner noreferrer">technical requirements (opens in new tab)</a>. This applies even if the service is internal and will only be used by DfE staff or contractors.

## What happens during an assessment

Service assessments are 2 to 4 hours long and a common approach is:

- 5 to 15 minutes talking about the service
- 20 to 45 minutes demonstrating the service
- questions and answers

They involve 4 or 5 assessors, including lead assessor, user researcher, designer and technical lead. There may be people observing, who ask questions at the end but generally do not get involved in the assessment itself.

The team will be asked to talk about the project and its most recent phase.

The service will be assessed as ‘met’ or ‘not met’.

‘Not met’ means the service needs to be reassessed against the points it did not meet.

In DfE service assessments, the service may get a ‘met with conditions’. This means it may need to be reassessed on the not-met points before progressing to the next phase, or demonstrate how this has been resolved at the next assessment.

The team will get an assessment report within 3 working days of a CDDO assessment and within 5 working days for DfE assessments.

## CDDO service assessments

Take place at the end of:

- alpha
- beta
- live

### How to book a CDDO service assessment

Arrange a meeting with your DDaT business partner to check the service is ready for an assessment, you’ll need to do this at least 6 weeks before the assessment takes place. Your product or delivery manager will know who your DDaT business partner is.

After meeting with your business partner, email <a href="mailto:dbd-assessments@digital.cabinet-office.gov.uk">dbd-assessments@digital.cabinet-office.gov.uk</a> to agree a date, time and location for the assessment.

Complete a service briefing form and a content and accessibility review 1 to 2 weeks before the assessment.

The assessors will arrange a pre-meet and tech pre-call with you a few days before the assessment.

You can read more about CDDO assessments on the <a href="https://www.gov.uk/service-manual/service-assessments" target="_blank" rel="noopner noreferre">GOV.UK Service Manual (opens in new tab)</a>.

## DfE service assessments

Take place at the end of:

- discovery
- alpha
- private and public beta

### How to book a DfE service assessment

You will need to book the assessment at least 4 weeks before the date you want it to take place. This gives the DfE assessment team time to prepare and set up the panel.

Email the DfE service assessment team at <a href="mailto:serviceassessment.plus@education.gov.uk">serviceassessment.plus@education.gov.uk</a> to:

- find out about booking an internal assessment or a mock assessment
- set up your first meeting with the DfE digital engagement manager
- ask questions and get support

