---
title: 2. Solve a whole problem for users
weight: 2
---

# 2. Solve a whole problem for users
This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-2-solve-a-whole-problem" target="_blank" rel="noopner noreferrer">Service Standard point 2 (opens in new tab)</a>. You will be checked on how you meet this at a [service assessment](/service-assessments.html).