---
title: 2. Solve a whole problem for users
weight: 2
---

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

# 2. Solve a whole problem for users

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-2-solve-a-whole-problem" target="_blank" rel="noopner noreferrer">Service Standard point 2 (opens in new tab)</a>. You will be checked on how you meet this at a [service assessment](/service-assessments.html).

Consider whether your service fits in your users' journey and whether you can solve a whole problem or influence a wider solution. Work to understand any constraints that affect the end-to-end service journey, for example, if users have to come in and then out of the service again to reach their end goal, what would that look like. 

Collaborate across team, programme and organisation boundaries to create a service that meets users' needs across all channels.

## Why it's important to solve a whole problem for users 