---
title: 3. Provide a joined up experience across all channels
weight: 3
---

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

# 3. Provide a joined up experience across all channels