---
title: 5. Make sure everyone can use the service
weight: 5
---

<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>

# 5. Make sure everyone can use the service
<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments.html'>service assessments</a>.")%>
