---
title: 6. Have a multidisciplinary team
weight: 6
last_reviewed_on: 2022-09-08
review_in: 12 months
---

<%= partial "ga" %>

<div class="dfe-hero">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
<a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-6-have-a-multidisciplinary-team" target="_blank" rel="noopner noreferrer">standard point 6 (opens in new tab)</a>.</p>
		<div class="bordered-top--dark"></div>
		</div>
	<div class="govuk-grid-column-full">
			<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-5 govuk-!-margin-bottom-3">
			<p class="govuk-body">Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</p>
		<strong class="govuk-tag">Delivery Managers</strong> <strong class="govuk-tag">Product Managers</strong>
		</div>
	</div>
</div>

## Summary

It's important to have a diverse mix of the skills and roles needed to build and operate the service.

Make as many decisions as possible as a team, so that you can respond quickly to what you learn about users and their needs.

## Why it's important 

A team with a range of expertise and perspectives is more likely to come up with the best solution. The size and roles you'll need will change as you build the service.

When planning for a team, for the next phase, think about how much it would cost to build and the roles you might need.

## How to meet this standard in every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

### In discovery

#### Things to consider:

- <a href="https://www.gov.uk/service-manual/the-team/set-up-a-service-team#the-service-team-you-need-in-each-phase" target="_blank" rel="noopner noreferrer">roles specific at discovery (opens in new tab)</a> to the type of work that needs doing
- if <a href="https://www.gov.uk/service-manual/the-team/working-contractors-third-parties" target="_blank" rel="noopner noreferrer">working with contractors (opens in new tab)</a>, create a plan for how knowledge will be shared
- identify a service owner and consider how they will be engaged through the design and delivery of the service
- identify where additional roles may be needed and how to fill them

### In alpha

#### Things to consider:

- the right team roles are in place to deliver the goal of the service at this stage
- having people with the skills to understand data and what metrics you need to measure
- a user researcher, responsible for research and usability tests
- product and delivery managers with the knowledge and authority to make day-to-day decisions to improve the service
- a plan to transfer knowledge and skills from contractors to permanent staff


<%= do_dont_list(["not having the right roles for the work being carried out",
"decisions being made without understanding, or having evidence to support them"], "Things to avoid at alpha", "dont") %>

### In beta and live

#### Things to consider:

- how the team and ways of working can keep improving the service
- how knowledge and skills from contractors have been transferred to permanent staff
- how the team has evaluated and iterated the less common paths through the service
- a plan for what team you'll need to operate and support the service once live
- knowledge and skills from contractors is transferred to permanent staff

<div class="dfe-pager">
	<a href="/service-standard/5-make-sure-everyone-can-use-the-service.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">5. Make sure everyone can use the service</div>
	</a>
	<a href="/service-standard/7-use-agile-ways-of-working.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg>  <span class="dfe-pagination-action">Next page</span>
		<div class="dfe-pagination-page">7. Use agile ways of working</div>
	</a>
</div>