---
title: 8. Iterate and improve frequently
weight: 8
prevent_indexing: true
---

<%= partial "ga" %>

#8. Iterate and improve frequently
<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments.html'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-8-iterate-and-improve-frequently" target="_blank" rel="noopner noreferrer">Service Standard point 8 (opens in new tab)</a>. 