---
title: 9. Create a secure service which protects users' privacy
weight: 9

---

<%= partial "ga" %>

#9. Create a secure service which protects users' privacy

<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments/'>service assessments</a>.")%>


This page hasn't been written yet as we're still in beta and working our way through content.

If you think you can help us write this content, contact us on the <%= external_link("https://ukgovernmentdfe.slack.com/archives/C03LP9VRQSJ","DfE Standards and Assurance Slack channel") %>.

<div class="dfe-pager">
	<a href="/service-standard/8-iterate-and-improve-frequently.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">8. Iterate and improve frequently</div>
	</a>
		<a href="/service-standard/11-choose-the-right-tools-and-technology.html" class="dfe-pagination">
	<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg>  <span class="dfe-pagination-action">
    Next page</span>
		<div class="dfe-pagination-page">10. Define what success looks like and publish performance data</div>
	</a>
</div>