---
title: 9. Create a secure service which protects users' privacy
weight: 9
last_reviewed_on: 2022-09-08
review_in: 12 months
---

<%= partial "ga" %>


<div class="dfe-hero">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full"><a href="/service-standard/" class="govuk-back-link">Back to Service Standard</a>
			<h1 class="govuk-heading-l"><%=current_page.data.title%></h1>
			<p>This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-9-create-a-secure-service" target="_blank" rel="noopner noreferrer">standard point 9 (opens in new tab)</a>. </p>
		<div class="bordered-top--dark"></div>
		</div>
	<div class="govuk-grid-column-full">
			<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-5 govuk-!-margin-bottom-3">
			<p class="govuk-body">Everyone is responsible for meeting the Service Standard. This standard point is most relevant to:</p>
		<strong class="govuk-tag">Architects</strong>
		<strong class="govuk-tag">Delivery Managers</strong> 
		<strong class="govuk-tag">Product Managers</strong> 
		<strong class="govuk-tag">Developers</strong> 
		</div>
	</div>
</div>

## Summary

Understand what data and information your service will be collecting from users, and how this will be stored and used. Identify and address security threats, legal responsibilities, confidentiality, privacy issues and risks associated with the service. Consult experts where you need to.

## Why it's important 

DfE handles <a href="https://educationgovuk.sharepoint.com/sites/lvewp00158/SitePages/What-is-Personal-Data-.aspx?xsdata=MDV8MDF8fDk4NzE3NGExMjVkYTQ3Nzg4ODgxMDhkYWNiYjEwNTUzfGZhZDI3N2M5YzYwYTRkYTFiNWYzYjNiOGIzNGE4MmY5fDB8MHw2MzgwNDYyNTgzODUzNTY5Mjl8VW5rbm93bnxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuWnBZMlY4ZXlKV0lqb2lNQzR3TGpBd01EQWlMQ0pRSWpvaVYybHVNeklpTENKQlRpSTZJazkwYUdWeUlpd2lWMVFpT2pFeGZRPT18MXxNVFkyT1RBeU9UQXpOelUyTkRzeE5qWTVNREk1TURNM05UWTBPekU1T2pBeE5HSXlNVFUxTFRoaE1ETXRORE5oT1MxaU5UbGxMVE00WWpnek9UUTVZMlV6TjE4MVpESTVaV0UxTkMxaFlXTmtMVFF5TURrdFlqa3haaTFoWm1JeE9URmxPVGRqWkRoQWRXNXhMbWRpYkM1emNHRmpaWE09fGVhNGM5YmRjN2I2ZDQ5NmVjNTg2MDhkYWNiYjEwNTUyfDQ4MGQxOTRlNTU2ZjQxYWY5N2E0ZWE4Njk4NjhjNjdm&sdata=MUpMVEdaY2crNHVFUDJkL29RVVpEenVRY3h0LzN6MGJGOUl5azh0RWlDOD0%3D&ovuser=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9%2CKerry.LYONS%40education.gov.uk&OR=Teams-HL&CT=1669029043713&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiIyOC8yMjEwMjgwNzIwMCIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D" target='_blank'>personal and sensitive information (opens intranet page in new tab)</a> about users, children's services and education. If you do not have access to the DfE intranet, ask a colleague with access to get the information for you. 

We have a legal duty to protect personal and sensitive information. Failing to do so would undermine public trust in DfE services. 



## How to meet this standard in every phase

You'll be assessed on what you've done to meet this standard at <a href='/service-assessments/'>service assessments</a>. However, even if the service you are working on is not being assessed, it's good practice to consider how you'll meet this standard point.

Some of the following guidance links go to the DfE intranet. If you do not have access to DfE intranet, ask a colleague with access to get the information for you.

### In discovery

#### Things to consider:

- evidence that a <a href="https://educationgovuk.sharepoint.com/sites/lvewp00158/SitePages/DPIA.aspx" target="_blank">Data Protection Impact Assessment (DPIA) (opens intranet page in new tab)</a> has been started, where necessary
- evidence that a <a href="https://educationgovuk.sharepoint.com/sites/how-do-i/SitePages/security-assurance.aspx" target="_blank">Departmental Security Assurance Model (DSAM) process (opens intranet page in new tab)</a> has been started, where necessary
- a plan that details headline <a href="https://educationgovuk.sharepoint.com/sites/lvewp00158/SitePages/UK-General-Data-Protection-Regulation-(UK-GDPR).aspx?xsdata=MDV8MDF8fDU5NjI1YmUxMTQyYzQ1ZWVkNjVmMDhkYWNiYjE1YTQ1fGZhZDI3N2M5YzYwYTRkYTFiNWYzYjNiOGIzNGE4MmY5fDB8MHw2MzgwNDYyNTk4MTA1MjI3MTl8VW5rbm93b/service-standard/5-make-sure-everyone-can-use-the-service.htmlnxWR1ZoYlhOVFpXTjFjbWwwZVZObGNuWnBZMlY4ZXlKV0lqb2lNQzR3TGpBd01EQWlMQ0pRSWpvaVYybHVNeklpTENKQlRpSTZJazkwYUdWeUlpd2lWMVFpT2pFeGZRPT18MXxNVFkyT1RBeU9URTRNREUwTXpzeE5qWTVNREk1TVRnd01UUXpPekU1T2pBeE5HSXlNVFUxTFRoaE1ETXRORE5oT1MxaU5UbGxMVE00WWpnek9UUTVZMlV6TjE4MVpESTVaV0UxTkMxaFlXTmtMVFF5TURrdFlqa3haaTFoWm1JeE9URmxPVGRqWkRoQWRXNXhMbWRpYkM1emNHRmpaWE09fDJlYjE1YmY5MTNhODRhNWRkNjVmMDhkYWNiYjE1YTQ1fDAxMGFjMWQ5ZTlmNTRiMzQ5ZWRkYWViNWFjYjE1ZTY1&sdata=aklBMVZTSDNnRFRDL2tpaHZNSmFVQ0xHZVFrWHk1ZytIb2FXbS9FTnJHVT0%3D&ovuser=fad277c9-c60a-4da1-b5f3-b3b8b34a82f9%2CKerry.LYONS%40education.gov.uk&OR=Teams-HL&CT=1669029184072&clickparams=eyJBcHBOYW1lIjoiVGVhbXMtRGVza3RvcCIsIkFwcFZlcnNpb24iOiIyOC8yMjEwMjgwNzIwMCIsIkhhc0ZlZGVyYXRlZFVzZXIiOmZhbHNlfQ%3D%3D" target="_blank">General Data Protection Regulation (GDPR) (opens intranet page in new tab)</a> requirements
- identify the minimum <a href="https://www.gov.uk/service-manual/design/collecting-personal-information-from-users" target="_blank">personal information (opens in new tab)</a> you need from users to provide the service 
- whether the service needs identity assurance or authentication
 - if it does, consider your approach to identifying and evaluating assurance and authentication methods that balances risks in a proportionate way
 - for example, using <a href='https://dfe-digital.github.io/architecture/common-components/#service-components-products-and-platforms target='_blank'>common components </a>, such as <a href='https://dfe-digital.github.io/architecture/common-components/#dfe-sign-in target='_blank'>DfE Sign-in</a>

### In alpha

#### Things to consider:

- continue to work on the DPIA, where relevant
- demonstrable evidence that the service you want to build is technically feasible and meets required security standards
- if delivery and security are two competing risks, speak to your Senior Responsible Officer (SRO) to discuss impact and requirement
- explore security anti-personas or bad actors for the service, if relevant
- tech choices and <a href="https://dfe-digital.github.io/architecture/common-components/#what-are-common-components" target="_blank">common components</a> you might use when you build your service
- a plan for how the findings from checking technical feasibility and security compliance will be addressed in beta
- how to protect users and the <a href="https://www.gov.uk/service-manual/technology/protecting-your-service-against-fraud" target="_blank">service from fraud (opens in new tab)</a>
- the use of <a href="https://design-system.service.gov.uk/patterns/cookies-page/" target="_blank">cookies (opens in new tab)</a> in the service
- how you will manage and own risks through risk registers and Information Security Officers (ISOs)

### In beta and live

#### Things to consider:

- evidence of addressing findings from alpha
- findings of DPIA are being addressed
- before going into private beta, do a penetration test if the service is a new service or a significant change is made to a new service. A significant change could be a change in scope, storing more data or opening up to customers
- residual security risks and mitigations security have been raised and assigned
- demonstrable evidence of <a href="https://www.gov.uk/service-manual/technology/securing-your-information" target="_blank">how services and data storage will be secured (opens in new tab)</a> to prevent data loss
- how you've tested your service to ensure it doesn't expose security risk, for example, testing against <a href="https://owasp.org/Top10/" target="_blank" rel="noopner noreferrer">OWASP Top 10 (opens in new tab)</a>
- use of <a href="https://dfe-digital.github.io/architecture/common-components/#what-are-common-components" target="_blank">common components</a>, such as <a href="https://dfe-digital.github.io/architecture/common-components/#dfe-sign-in" target="_blank">DfE Sign-in</a> if authentification is required, to secure your service
- creating an asset register for the service
- evidence that all risks to security have been addressed, when moving from beta to live
- how you will eventually decommission the service. Consider if the service is needed for a specific time, or whether it's needed for longer
 - consider archive or retention policies and access requirements
 - how to support Freedom of Information (FOI) requests or Subject Access Requests (SARs)
 - security and vulnerability issues with any systems that aren't being actively monitored or maintained

## Profession specific guidance

Each DDaT profession in DfE has their own community and guidance.

<%= signpost_link("https://dfe-digital.github.io/architecture/#dfe-architecture", "DfE Architecture", true)%>

<%= signpost_link("https://technical-guidance.education.gov.uk/", "DfE Technical Guidance", true)%>

<div class="dfe-pager">
	<a href="/service-standard/8-iterate-and-improve-frequently.html" class="dfe-pagination">
		<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
		</svg> <span class="dfe-pagination-action">
    Previous page</span>
		<div class="dfe-pagination-page">8. Iterate and improve frequently</div>
	</a>
		<a href="/service-standard/10-define-success-publish-performance-data.html" class="dfe-pagination">
	<svg class="dfe-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
			<path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
		</svg>  <span class="dfe-pagination-action">
    Next page</span>
		<div class="dfe-pagination-page">10. Define what success looks like and publish performance data</div>
	</a>
</div>