---
title: 9. Create a secure service which protects users' privacy
weight: 9
prevent_indexing: true
---

<%= partial "ga" %>

#9. Create a secure service which protects users' privacy
<%= banner_panel("You'll be assessed on this","You'll be assessed on what you've done to meet this Service Standard point at <a href='/service-assessments.html'>service assessments</a>.")%>

This guidance will help you apply  <a href="https://www.gov.uk/service-manual/service-standard/point-9-create-a-secure-service" target="_blank" rel="noopner noreferrer">Service Standard point 9 (opens in new tab)</a>. 