---
title: Service Standard
weight: 100
---



# Service Standard

This guidance helps teams understand how to apply the [Service Standard](https://www.gov.uk/service-manual) in DfE.

<%= basic_panel("<h3><a href='/service-standard/1-understand-users-and-their-needs.html'>1. Understand users and their needs</a></h3>") %>

<%= basic_panel("<h3><a href='/service-standard/2-solve-a-whole-problem-for-users.html'>2. Solve a whole problem for users</a></h3>") %>

