---
title: Service Standard
weight: 100
---

<%= partial "ga" %>

# Service Standard

This guidance helps teams understand how to apply the [Service Standard](https://www.gov.uk/service-manual) in DfE.

<ol class="govuk-list dfe-standards-list">
          <li class="app-service-standard-point" id="criterion-1">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">1.</span>
              Understand users and their needs
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/1-understand-user-needs.html">How to apply point 1 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-2">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">2.</span>
              Solve a whole problem for users
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/2-solve-a-whole-problem.html">How to apply point 2 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-3">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">3.</span>
              Provide a joined up experience across all channels
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/3-join-up-across-channels.html">How to apply point 3 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-4">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">4.</span>
              Make the service simple to use
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/4-make-the-service-simple-to-use.html">How to apply point 4 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-5">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">5.</span>
              Make sure everyone can use the service
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/5-make-sure-everyone-can-use-the-service.html">How to apply point 5 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-6">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">6.</span>
              Have a multidisciplinary team
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/6-have-a-multidisciplinary-team.html">How to apply point 6 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-7">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">7.</span>
              Use agile ways of working
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/7-use-agile-ways-of-working">How to apply point 7 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-8">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">8.</span>
              Iterate and improve frequently
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/8-iterate-and-improve-frequently.html">How to apply point 8 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-9">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">9.</span>
              Create a secure service which protects users' privacy
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/9-create-a-secure-service.html">How to apply point 9 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-10">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">10.</span>
              Define what success looks like and publish performance data
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/10-define-success-publish-performance-data.html">How to apply point 10 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-11">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">11.</span>
              Choose the right tools and technology
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/11-choose-the-right-tools-and-technology.html">How to apply point 11 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-12">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">12.</span>
              Make new source code open
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/12-make-new-source-code-open.html">How to apply point 12 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-13">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">13.</span>
              Use and contribute to open standards, common components and patterns
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/13-use-common-standards-components-patterns.html">How to apply point 13 in DfE</a></p>
            </div>
          </li>
          <li class="app-service-standard-point" id="criterion-14">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-3 app-service-standard-point__title">
              <span class="app-service-standard-point__number">14.</span>
              Operate a reliable service
            </h2>
            <div class="app-service-standard-point__details">
              
              <p class="govuk-body app-service-standard-point__link"><a class="govuk-link" href="/service-standard/14-operate-a-reliable-service.html">How to apply point 14 in DfE</a></p>
            </div>
          </li>
      </ol>