---
title: Service Standard
weight: 100
description: How the Service Standard is applied by professions in DfE delivery teams and how they are assured at service assessments.

---

<%= partial "ga" %>

<%= hero(current_page.data.title,"How the <a href='https://www.gov.uk/service-manual/service-standard' target='_blank'>Service Standard</a> is applied by professions in DfE delivery teams and how they are assured at service assessments.")%>



<div class="dfe-section-grey">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m bordered-top">Meeting users' needs</h2>
<p>Guidance on how user research and design professions can apply these standards in their role.</p>
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="cards cards-single">
      <ul>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/service-standard/1-understand-user-needs.html">1. Understand users and their needs</a>
            </h3>
          </div>
        </li>
          <li class="card">
          <div class="text">
            <h3>
              <a href="/service-standard/2-solve-a-whole-problem.html">2. Solve a whole problem for users</a>
            </h3>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/service-standard/3-join-up-across-channels.html">3. Provide a joined up experience across all channels</a>
            </h3>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/service-standard/4-make-the-service-simple-to-use.html">4. Make the service simple to use</a>
            </h3>
          </div>
        </li>
        <li class="card">
          <div class="text">
            <h3>
              <a href="/service-standard/5-make-sure-everyone-can-use-the-service.html">5. Make sure everyone can use the service</a>
            </h3>
          </div>
        </li>
        </ul>
        </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m bordered-top">Providing a good service</h2>

<p>Guidance to support product and delivery managers, and performance analysts in applying the standards in the delivery lifecycle.</p>
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="cards cards-single">
      <ul>
        <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/6-have-a-multidisciplinary-team.html">6. Have a multidisciplinary team</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/7-use-agile-ways-of-working">7. Use agile ways of working</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/8-iterate-and-improve-frequently.html">8. Iterate and improve frequently</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/9-create-a-secure-service.html">9. Create a secure service which protects users' privacy</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/10-define-success-publish-performance-data.html">10. Define what success looks like and publish performance data</a>
              </h3>
            </div>
          </li>
        </ul>
        </div>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
<h2 class="govuk-heading-m bordered-top">Using the right technology</h2>

<p>Guidance for technical, architecture and operations roles in how to apply the standards.</p>
</div>

<div class="govuk-grid-column-two-thirds">
  <div class="cards cards-single">
      <ul>
        <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/11-choose-the-right-tools-and-technology.html">11.  Choose the right tools and technology</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/12-make-new-source-code-open.html">12. Make new source code open</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/13-use-common-standards-components-patterns.html">13. Use and contribute to open standards, common components and patterns</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/14-operate-a-reliable-service.html">14.  Operate a reliable service</a>
              </h3>
            </div>
          </li>
        </ul>
        </div>
  </div>
</div>
