---
title: Service Standard
weight: 100
---

<%= partial "ga" %>

<div class="dfe-hero">
   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
         <h1 class="govuk-heading-xl govuk-!-font-size-80">Service Standard</h1>
         <p class="govuk-body-l">Guidance to enable teams understand how to apply the <a href="https://www.gov.uk/service-manual/service-standard" target="_blank" rel="noopener noreferrer">Service Standard</a> in the context of DfE services and users.</p>
      </div>
      <div class="govuk-grid-column-one-third standards-icon">
        <i class="fa-solid fa-person-chalkboard fa-10x"></i>
      </div>
  
   </div>
</div>

<div class="dfe-section-grey">
<h2 class="govuk-heading-m bordered-top">The standards</h2>
      <div class="cards cards-single">
        <ul>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/1-understand-user-needs.html">1. Understand users and their needs</a>
              </h3>
            </div>
          </li>
           <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/2-solve-a-whole-problem.html">2. Solve a whole problem for users</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/3-join-up-across-channels.html">3. Provide a joined up experience across all channels</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/4-make-the-service-simple-to-use.html">4. Make the service simple to use</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/5-make-sure-everyone-can-use-the-service.html">5. Make sure everyone can use the service</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/6-have-a-multidisciplinary-team.html">6. Have a multidisciplinary team</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/7-use-agile-ways-of-working">7. Use agile ways of working</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/8-iterate-and-improve-frequently.html">8. Iterate and improve frequently</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/9-create-a-secure-service.html">9. Create a secure service which protects users' privacy</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/10-define-success-publish-performance-data.html">10. Define what success looks like and publish performance data</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/11-choose-the-right-tools-and-technology.html">11.  Choose the right tools and technology</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/12-make-new-source-code-open.html">12. Make new source code open</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/13-use-common-standards-components-patterns.html">13. Use and contribute to open standards, common components and patterns</a>
              </h3>
            </div>
          </li>
          <li class="card">
            <div class="text">
              <h3>
                <a href="/service-standard/14-operate-a-reliable-service.html">14.  Operate a reliable service</a>
              </h3>
            </div>
          </li>
        </ul>
      </div>
</div>
