---
title: Apply the Service Standard in DfE
description: Guidance and information for how to apply the Service Standard in the Department for Education (DfE) to design and build accessible, usable and understandable services.
weight: 10
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://apply-the-service-standard.education.gov.uk",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://apply-the-service-standard.education.gov.uk/search/index.html?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>

<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

<%= hero(current_page.data.title,"Guidance and information for how to apply the <a href='https://www.gov.uk/service-manual/service-standard' target='_blank'>Service Standard</a> in the Department for Education (DfE) to design and build accessible, usable and understandable services.")%>

<div class="dfe-hero govuk-!-padding-bottom-2">
   <h2 class="govuk-heading-m bordered-top">Standards and assurance</h2>
   <p class="govuk-body">Following the standards and guidance will help you deliver good services for users of DfE services.</p>
   <div class="cards">
      <ul>
         <li class="card">
            <div class="text">
               <h3><a href="/service-standard/">Service Standard</a></h3>
               <p>How to apply the 14 point Service Standard in the context of DfE services and users.</p>
            </div>
         </li>
         <li class="card">
            <div class="text">
               <h3><a href="/accessibility/">Accessibility</a></h3>
               <p>Understand and apply accessibility at all stages of the service delivery lifecycle.</p>
            </div>
         </li>
         <li class="card">
            <div class="text">
               <h3><a href="/service-assessments/">Service assessments</a></h3>
               <p>Assurance that you're meeting standards and you're delivering using good practice.</p>
            </div>
         </li>
      </ul>
   </div>
</div>
<div class="dfe-section-grey">
    <h2 class="govuk-heading-m">Other manuals and guidance</h2>
   <p class="govuk-body">Other manuals which enable you to deliver good services for users.</p>
   <div class="cards">
      <ul>
         <li class="card">
            <div class="text">
               <h3><a href="https://design.education.gov.uk" target="_blank" rel="noopener noreferrer">Design Manual</a></h3>
               <p>Guidance, patterns and standards for content, service and interaction designers delivering DfE services.</p>
            </div>
         </li>
         <li class="card">
            <div class="text">
              <h3><a href="https://user-research.education.gov.uk" target="_blank" rel="noopener noreferrer">User Research Manual</a></h3>
               <p>Information, guidance and templates for carrying out ethical user research in DfE.</p>
            </div>
         </li>
         
      </ul>
   </div>
</div>




