---
title: Apply the Service Standard in DfE
weight: 10
---

<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

# Apply the Service Standard in DfE

This guidance helps teams understand how to apply the [Service Standard](https://www.gov.uk/service-manual) in DfE.

Following the Service Standard ensures you design and build accessible, usable and understandable services for people using DfE services.

This service will enable you to:

- address the different needs of people using DfE services
- navigate the complexities of delivering digital services in the education sector
- meet the Service Standard



<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Apply the Service Standard in DfE</h3>
 <p>How to apply the 14 point Service Standard in the context of DfE.</p>
 <p><a href="/service-standard/">Applying the standards</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-list-ol fa-6x"></i>
  </div>
</div>
</div>

<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Accessibility</h3>
 <p>Why you should understand and consider accessibility at all stages of the service delivery lifecycle.</p>
 <p><a href="/accessibility/">Find out about accessibility in DfE</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-universal-access fa-6x"></i>
  </div>
</div>
</div>


<div class="dfe-panel">
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <h3>Service assessments</h3>
 <p>These should not be seen as a tick box exercise but a conversation about how you have worked to meet user needs and the Service Standard.</p>
 <p><a href="/service-assessments.html">How service assessments are done in DfE.</a></p>
  </div>
   <div class="govuk-grid-column-one-third standards-icon">
<i class="fa-solid fa-person-chalkboard fa-6x"></i>
  </div>
</div>
</div>

