---
title: Apply the Service Standard in DfE
description: Guidance and information for how to apply the Government Service Standard in the Department for Education (DfE) to design and build accessible, usable and understandable services.
weight: 10
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://apply-the-service-standard.education.gov.uk",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://apply-the-service-standard.education.gov.uk/search/index.html?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>


<%= partial "ga" %>



<div class="dfe-hero">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-font-size-48"><%=current_page.data.title%></h1>
      <p class="govuk-body-l">Guidance and information for how to apply the Government <a href='https://www.gov.uk/service-manual/service-standard' target='_blank'>Service Standard</a> to design and build accessible, usable and understandable services.</p>
     
   
      <h2 class="govuk-heading-m govuk-!-margin-top-9">Getting started</h2>
        <div class="cards card-thirds">
       <ul>
         <li class="card">
            <div class="text">
               <h3><a href="/service-standard/">Service Standard</a></h3>
               <p>How to apply the 14 point Service Standard in the context of DfE services and users.</p>
            </div>
         </li>
         <li class="card">
            <div class="text">
               <h3><a href="/service-assessments/">Service assessments</a></h3>
               <p>Assurance that you're meeting standards and you're delivering using good practice.</p>
            </div>
         </li>
      </ul>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Other manuals and guidance</h2>
      <p class="govuk-body">Other manuals which enable you to deliver good services for users.</p>
     <div class="cards card-thirds">
         <ul>
            <li class="card">
               <div class="text">
                  <h3><a href="https://design.education.gov.uk" target="_blank" rel="noopener noreferrer">Design manual</a></h3>
                  <p>Guidance, patterns and standards for content, service and interaction designers delivering DfE services.</p>
               </div>
            </li>
            <li class="card">
               <div class="text">
               <h3><a href="https://technical-guidance.education.gov.uk/" target="_blank" rel="noopener noreferrer">Technical guidance manual</a></h3>
                  <p>Technical standards and guidance that we expect teams working within DfE to follow when building digital services.</p>
               </div>
            </li>
            <li class="card">
               <div class="text">
               <h3><a href=" https://dfe-digital.github.io/architecture/#dfe-architecture" target="_blank" rel="noopener noreferrer">Architecture manual</a></h3>
                  <p>Architectural guidance, principles and standards.</p>
               </div>
            </li>
           
         </ul>
      </div>
   </div>
</div>



