---
title: Home
description: Guidance and information for how to apply the Service Standard in the Department for Education (DfE) to design and build accessible, usable and understandable services.
weight: 10
---



<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://apply-the-service-standard.education.gov.uk",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://apply-the-service-standard.education.gov.uk/search/index.html?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>



<script src="https://kit.fontawesome.com/2f8f69be63.js" crossorigin="anonymous"></script>

# Apply the Service Standard in the Department for Education


This guidance helps design, delivery and operational teams understand how to apply the <a href="https://www.gov.uk/service-manual" target="_blank" rel="noopener noreferrer">Service Standard</a> in the context of the Department for Education (DfE).

This service will enable you to:

- address the different needs of people using DfE services
- navigate the complexities of delivering digital services in the education sector
- meet the Service Standard

## Standards and assurance

Following the standards and guidance will help you deliver good services for users of DfE services.

<div class="cards">
  <ul>
    <li class="card">
        <div class="text">
            <h2><a href="/service-standard">Apply the Service Standard in DfE</a></h2>
            <p>How to apply the 14 point Service Standard in the context of DfE services and users.</p>
        </div>
    </li>  
    <li class="card">
        <div class="text">
            <h2><a href="/accessibility">Accessibility</a></h2>
            <p>Understand and apply accessibility at all stages of the service delivery lifecycle.</p>
        </div>
    </li>
      <li class="card">
        <div class="text">
            <h2><a href="/service-assessments/">Service assessments</a></h2>
            <p>Assurance that you're meeting standards and you're delivering using good practice.</p>
        </div>
    </li>
  </ul>
</div>
